<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Movie Recommender | Recommended Movie</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="static/assets/css/bootstrap.min.css">


        <link rel="stylesheet" href="static/assets/css/plugins.css" />
		<link rel="stylesheet" href="static/assets/css/magnific-popup.css">
		
        <link rel="stylesheet" href="static/assets/css/nexa-web-font.css" />
        <link rel="stylesheet" href="static/assets/css/opensans-web-font.css" />

        <link rel="stylesheet" href="static/assets/css/style.css">

        <link rel="stylesheet" href="static/assets/css/responsive.css" />

        <script src="static/assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
         <style>
  .modal-header, h4, .close {
      background-color: #555555;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }
  #myModal{
  	background-color: rgba(0,0,0,0.5);
  	padding-top: 100px;

  }
   #myModal1{
  	background-color: rgba(0,0,0,0.5);
  	padding-top: 50px;

  }
  .mainRecommendContainer {
  	padding-top: 100px;
  }
  
  </style>
    </head>
        		
<body>
	<div class='preloader'><div class='loaded'>&nbsp;</div></div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="/search">Rate Movie</a></li>
                    {% if name is defined %}
					    <li><a href="/recommendation">{{name}}</a></li>
					{% else %}
					    <li><a id="myBtn1">{{name}}Sign Up</a></li>
					{% endif %}
					{% if name is defined %}
					    <li><a href="/logout">Logout</a></li>
					{% else %}
					    <li><a id="myBtn">Sign In</a></li>
					{% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mainRecommendContainer">
    	<div class="row text-center">
    		<div class="col-md-3">
    		</div>
    		<div class="col-md-3">
    			<label for="sel1">Select Genre:</label>
    		</div>
    		<div class="col-md-3">
    			<form action="/recommendation" method="post" name="genreSelect">
	    			<div class="form-group">
						<select onChange="document.forms['genreSelect'].submit();" class="form-control" id="sel1" name="genre">
							<option value="" disabled selected="selected">Select Genre</option>
							<option value="Action">Action</option>
							<option value="Adventure">Adventure</option>
							<option value="Animation">Animation</option>
							<option value="Childrens">Childrens</option>
							<option value="Comedy">Comedy</option>
							<option value="Crime_Documentary">Crime_Documentary</option>
							<option value="Drama_Fantasy">Drama_Fantasy</option>
							<option value="Film_Noir">Film_Noir</option>
							<option value="Horror">Horror</option>
							<option value="Musical_Mystery">Musical_Mystery</option>
							<option value="Romance">Romance</option>
							<option value="Sci_Fi">Sci_Fi</option>
							<option value="Thriller">Thriller</option>
							<option value="War_Western">War_Western</option>
						</select>
					</div>
				</form>
    		</div>
    		<div class="col-md-3">
    		</div>
    	</div>
    	<div class="row text-center">
	    	{% for result in results %}
				<div class="col-md-3">
					<div class="thumbnail">
            {% if result['poster'] is not none %}
                <img src="{{result['poster']}}" alt="{{result['title']}}"" style="width: 250px;height: 300px;" title="{{ result['title'] }}">
            {% else %}
                <img src="static/img/1.jpg" alt="{{result['title']}}"" style="width: 250px;height: 300px;" title="{{ result['title'] }}">
            {% endif %}
						<div class="caption">
							<p style="font-size: 0.7rem;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;">{{ result['title'] }}</p>
				        </div>
					</div>
				</div>
			{% endfor %}
		</div>
    </div>
    <script src="static/assets/js/vendor/jquery-1.11.2.min.js"></script>
    <script src="static/assets/js/vendor/bootstrap.min.js"></script>

    <script src="static/assets/js/plugins.js"></script>
	<script src="static/assets/js/jquery.magnific-popup.js"></script>

	 
    <script src="static/assets/js/main.js"></script>
</body>
</html>